@charset "utf-8";

//custom
$wdd-unit: 5 !default;
$wdd-body-font: 'Roboto', sans-serif;
$wdd-header-font: 'Raleway', sans-serif;

//foundation
$paragraph-margin-bottom: 10px;
$anchor-color: yellow;
$global-margin: wwd-unit(2);
$global-padding: wdd-unit(2);