@mixin radius($value: 1, $unit: px) {
  $value: strip-unit($value);
  /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  -webkit-border-radius: #{$value}#{$unit};
  /* Firefox 1-3.6 */
  -moz-border-radius: #{$value}#{$unit};
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-radius: #{$value}#{$unit};
}