@charset "utf-8";

#site-header {
    padding: wdd-unit(2);
    background: $wwd-violet;
    border-bottom: 1px solid $wdd-white;

    @include wdd-box-shadow(0px 4px 5px 0px rgba(255,255,255,1));
    h1 {
        font-size: 30px;
        font-weight: bold;
    }
}