@charset "utf-8";

nav {
    &.nav-main {
        padding: wdd-unit(2);
        form[data-form] {
            display: inline;
            float: right;
        }
        @include clearfix();
    }
    ul.menu {
        display: inline;
        list-style: none;
        margin: 0 -#{wdd-unit(2)};
        > li {
            display: inline-block;
            padding: wdd-unit(1) wdd-unit(2);
            &:hover {
                background: white;
            }
            & > a {
                text-decoration: none;
                &:hover {
                    color: $wdd-black;
                }
            }
        }
    }
}